<div class="container">
  <h1 class="mt-5 mb-5">Danh sách sản phẩm</h1>
  <div>
    <table class="table table-bordered table-primary table-striped">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products; index as i">
        <td>{{i + 1}}</td>
        <td [routerLink]="['/edit',i]">{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><button [routerLink]="['/product/list', i]" > Xóa</button> </td>
      </tr>
      </tbody>

    </table>
  </div>

</div>

