<div class="container">
  <h1 class="mt-5 mb-5">Danh sách sản phẩm</h1>
  <a class="btn btn-warning" routerLink="/product/create">Create Product</a>
  <div class="mt-2">
    <table class="table table-bordered table-primary table-striped">
      <thead>
      <tr>
        <th>STT</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>Danh muc</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of products; index as i">
        <td>{{i + 1}}</td>
        <td>{{x.name}}</td>
        <td>{{x.price}}</td>
        <td>{{x.description}}</td>
        <td>{{x.category.name}}</td>
        <td>
          <button [routerLink]="['/product/delete',x.id]"> Xóa</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

