<div class="row mx-0 position-relative section">

  <div class="col-12 col-sm -4 col-md-2  px-0">
    <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
      <button type="button" class="list-group-item list-group-item-action " aria-current="true">
        The current button
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
      </button>
    </div>
  </div>

  <div class="  col-12 col-sm-8 col-md-8 ">
    <table class="table table-success table-striped">
      <tr>
        <td>STT</td>
        <td>Dịch vụ</td>
        <td>Khách hàng</td>
        <td>Ngày bắt đầu</td>
        <td>Ngày kết thúc</td>
        <td>Tiền cọc</td>
        <td>Tổng tiền</td>
        <td>Các dịch vụ kèm theo</td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreateDetail"> +
          </button>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#showAttachDetail"> Danh sách dịch vụ đi kèm
          </button>

        </td>
      </tr>
    </table>
  </div>

  <div class="col-12 col-sm -4 col-md-2  px-0">
    <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
      <button type="button" class="list-group-item list-group-item-action " aria-current="true">
        The current button
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
      </button>
    </div>
  </div>

</div>
