<div class="row mx-0 position-relative section">

  <div class="col-12 col-sm -4 col-md-2  px-0">
    <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
      <button type="button" class="list-group-item list-group-item-action " aria-current="true">
        The current button
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
      </button>
    </div>
  </div>

  <div class="  col-12 col-sm-8 col-md-8 myBody ">
    <div class="container emp-profile">
      <form method="post">

        <div class="row">

          <div class="col-md-4">
            <div class="profile-img">
              <img src="../../../assets/images/huyDN.png" alt=""/>
              <div class="file btn btn-lg btn-primary">
                Change Photo
                <input type="file" name="file"/>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="profile-head">

              <div>
                <p style="font-size: 36px ; font-weight: bold; color: #212529">Trần Viết Huy</p>
                <p>Làm Qick < 5</p>
                <p class="proile-rating">RANKINGS : <span>8/10</span></p><br>
                <p style="font-size: 26px ; font-weight: bold ;color: #212529 ">Information</p>
                <hr class="mt-0">
              </div>

              <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Id Card</label>
                    </div>
                    <div class="col-md-6">
                      <p>123456789</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Name</label>
                    </div>
                    <div class="col-md-6">
                      <p>Trần Viết Huy</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>DateBirth</label>
                    </div>
                    <div class="col-md-6">
                      <p>26/10/1999</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Gender</label>
                    </div>
                    <div class="col-md-6">
                      <p>Nữ</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>Phone</label>
                    </div>
                    <div class="col-md-6">
                      <p>0987654321</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>huy@gmail.com</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                    </div>
                    <div class="col-md-6">
                      <p>huy@gmail.com</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Address</label>
                    </div>
                    <div class="col-md-6">
                      <p>Cẩm Lệ, Đà nẵng</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Customer Type</label>
                    </div>
                    <div class="col-md-6">
                      <p>Làm Qick < 5</p>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>


          <div class="col-md-2">
            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-12 col-sm -4 col-md-2  px-0">
    <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
      <button type="button" class="list-group-item list-group-item-action " aria-current="true">
        The current button
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
      </button>
    </div>
  </div>

</div>
