<h2>Today's article</h2>
<hr>
<div>

  <table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
    <tr *ngFor="let art of articles , let i = index">
      <th>{{i + 1}}</th>
      <th><a href="{{art.url}}" target="_blank">{{art.title}}</a></th>
      <th>
        <app-like></app-like>
      </th>
    </tr>
    </thead>
  </table>

</div>

<hr>
<div>
  <h2>Article Information</h2>
  <table>
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="article.title" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="article.url" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button style="float: right" (click)="addNewArticle()">Add</button>
      </td>
    </tr>
  </table>
</div>
<hr>

