

  <div class="row mx-0 position-relative section">

    <div class="col-12 col-sm -4 col-md-2  px-0">
      <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
        <button type="button" class="list-group-item list-group-item-action " aria-current="true">
          The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
        </button>
      </div>
    </div>

    <div class="  col-12 col-sm-8 col-md-8 background1 ">
      <legend>Danh sách dịch vụ cho thuê</legend>
      <div class="main-about d-flex flex-row justify-content-center">
        <div class="row">
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722779/722779/63984540_XL.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722773/722773/160407105.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724012/724012/Ocean_Studio_Suite_-_Overall.JPG?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-about d-flex flex-row justify-content-center">
        <div class="row">
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722806/722806/63984552_XL.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/723978/723978/FV_Balcony_Three_Bedroom_Villa.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724003/724003/Room_Bedding.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-about d-flex flex-row justify-content-center">
        <div class="row">
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724017/724017/Bedroom.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722791/722791/133461541.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/723963/723963/FV_One_Bedroom.jpg?auto=format,compress&fit=crop&crop=entropy&w=300&h=200&q=55" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-12 col-sm -4 col-md-2  px-0">
      <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
        <button type="button" class="list-group-item list-group-item-action " aria-current="true">
          The current button
        </button>
        <button type="button" class="list-group-item list-group-item-action">A second item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action">A third button item</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
        </button>
      </div>
    </div>

  </div>

