<section class="footer d-flex justify-content-center mt-5">
  <div class="wrapper container">
    <div class="row h-100">
      <div class="col-6 " style="padding-top: 5%;">
        <p class="fs-5 text-uppercase text-dark fw-bold">Our Brands</p>
        <div class="d-flex mt-4">/
          <img class="footer__brand-logo" src="../../../assets/images/xclusive.png" alt="">
          <img class="footer__brand-logo" src="../../../assets/images/fx.png" alt="">
        </div>
      </div>
      <div class="col-6">
        <h3 class="fs-2 text-uppercase text-dark fw-bold mb-4"> Furama </h3>
        <div class="row">
          <div class="col-3">
            <div class="d-flex flex-column gap-2">
              <a href="#" class="text-dark fs-5">Our hotel</a>
              <a href="#" class="text-dark fs-5">Promotions</a>
              <a href="#" class="text-dark fs-5">Corporate info</a>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column gap-2">
              <a href="#" class="text-dark fs-5">Lifestyle blog</a>
              <a href="#" class="text-dark fs-5">Careers</a>
              <a href="#" class="text-dark fs-5">Contact us</a>
            </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column gap-2">
              <a href="#" class="text-dark fs-5">Travel agents</a>
              <a href="#" class="text-dark fs-5">Terms & Conditions</a>
              <a href="#" class="text-dark fs-5">Privacy policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
