<table class="table">
  <tr>
    <th>
      <button style="background: #faebd7"
              (click)="changeColor('#faebd7')"
      ></button>
    </th>
    <th>
      <button style="background: #c4dc54"
              (click)="changeColor('#c4dc54')"
      ></button>
    </th>
    <th>
      <button style="background: #906225"
              (click)="changeColor('#906225')"
      ></button>
    </th>
    <th>
      <button style="background: #4c3005"
              (click)="changeColor('#4c3005')"
      ></button>
    </th>

  </tr>
  <tr>
    <th>
      <button style="background: #d3d753"
              (click)="changeColor('#d3d753')"
      ></button>
    </th>
    <th>
      <button style="background: #a3961d"
              (click)="changeColor('#a3961d')"
      ></button>
    </th>
    <th>
      <button style="background: #806006"
              (click)="changeColor('#806006')"
      ></button>
    </th>
    <th>
      <button style="background: #584b08"
              (click)="changeColor('#584b08')"
      ></button>
    </th>

  </tr>
  <tr>
    <th>
      <button style="background: #aed7ac"
              (click)="changeColor('#aed7ac')"
      ></button>
    </th>
    <th>
      <button style="background: #738d5d"
              (click)="changeColor('#738d5d')"
      ></button>
    </th>
    <th>
      <button style="background: #526d31"
              (click)="changeColor('#526d31')"
      ></button>
    </th>
    <th>
      <button style="background: #27570a"
              (click)="changeColor('#27570a')"
      ></button>
    </th>

  </tr>
  <tr>
    <th>
      <button style="background: #92b7c6"
              (click)="changeColor('#92b7c6')"
      ></button>
    </th>
    <th>
      <button style="background: #5c8a92"
              (click)="changeColor('#5c8a92')"
      ></button>
    </th>
    <th>
      <button style="background: #255568"
              (click)="changeColor('#255568')"
      ></button>
    </th>
    <th>
      <button style="background: #083e53"
              (click)="changeColor('#083e53')"
      ></button>
    </th>

  </tr>
  <tr>
    <th colspan="4"></th>
  </tr>
</table>


<h1 [style.color]="ans">Thiểu năng số 2 không ai là số 1</h1>

<h1 [style.color]="ans">SƠN THIỂU NĂNG</h1>
