<div class="row mx-0 position-relative section">
  <div class="col-12 col-sm -4 col-md-2  px-0">
    <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
      <button type="button" class="list-group-item list-group-item-action " aria-current="true">
        The current button
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
      </button>
    </div>
  </div>

  <div class="  col-12 col-sm-8 col-md-8 ">
    <table class="table  ">
      <legend>Danh sách khách hàng</legend>
      <tr>
        <td>STT</td>
        <td>Name</td>
        <td>Date Birth</td>
        <td>Gender</td>
        <td>Id Card</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Address</td>
        <td>Customer Type</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>

        <td><select>
          <option value="">--Chọn Loại--</option>
          <option value="">Nam</option>
          <option value="">Nữ</option>
          <option value="">Khác</option>
        </select></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editInfoModal">
            Edit
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">Delete
          </button>
        </td>
      </tr>
    </table>
    <!--/*phân trang*/-->
    <nav class="justify-content-center d-flex ">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" > Previous </a></li>

        <li class="page-item active"><a class="page-link" ></a></li>

        <li class="page-item"><a class="page-link" ></a></li>

        <li class="page-item"><a class="page-link" >Next</a></li>
      </ul>
    </nav>
  </div>

  <div class="col-12 col-sm -4 col-md-2  px-0">
    <div class="list-group min-vh-100 navbar-nav-scroll " style="border: 2px solid #7952b3; height: 100%">
      <button type="button" class="list-group-item list-group-item-action " aria-current="true">
        The current button
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item
      </button>
    </div>
  </div>

</div>
