
  <div class="header bg-light ">
    <!--/*navbar*/-->
    <nav class=" navbar navbar-expand-lg bg-light ">
      <div class="container-fluid">
        <a class="navbar-brand fs-3" href="/#">
          <img class="imgLogo" style="height: 200px" src="https://scontent.fdad1-3.fna.fbcdn.net/v/t15.5256-10/285152120_1455631848225212_2171340954330586710_n.jpg?stp=dst-jpg_p296x100&_nc_cat=111&ccb=1-7&_nc_sid=ad6a45&_nc_ohc=o7y0JTlc28AAX9PX4Tr&_nc_ht=scontent.fdad1-3.fna&oh=00_AfDighs1P6vX9I4PHeIwqqWzRLNySUfrQF7gf8tDn-QTIA&oe=6381B7A7" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active px-2 myNavbar"
                 aria-current="page"
                 href="/#">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-2 myNavbar"
                 aria-current="page"
                 href="https://furamavietnam.com/the-resort/">The Resort </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-2 myNavbar"
                 aria-current="page"
                 href="https://furamavietnam.com/culinary/"> Culinary </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-2 myNavbar"
                 aria-current="page"
                 href="https://furamavietnam.com/recreation/"> Recreation </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active px-2 myNavbar"
                 aria-current="page"
                 href="https://furamavietnam.com/destination/"> Destination </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle myNavbar" href="#" role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
                Service
              </a>
              <ul class="dropdown-menu">
                <a class="dropdown-item" href="/#">
                  <li>Villa</li>
                </a>
                <a class="dropdown-item" href="/#">
                  <li>House</li>
                </a>
                <a class="dropdown-item" href="/#">
                  <li>Room</li>
                </a>
              </ul>
            </li>
          </ul>
          <form class="d-flex mx-3" role="search">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                style="--bs-scroll-height: 100px;">
              <li style="position: relative;" class="nav-item dropdown d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <svg style=" position:absolute; right:16px; top: 3px;"
                     xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-search mt-2"
                     viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>

              </li>
            </ul>

          </form>
        </div>
      </div>
    </nav>
  </div>
